$bgColor : rgba(255, 255, 255, 1);
$titleColor: #333333;
$textColor: #4F4F4F;
$gray: #BDBDBD;
$secondaryTXTColor: #fff;
$maxWidth: 1200px;
$fontIncon: 'Inconsolata', monospace;
$fontMono: 'Space Mono', monospace;
$fontMont: 'Montserrat', sans-serif;